.joystick {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20;
}

.data {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
  font-family: Arial, sans-serif; */
}

.gamepad {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  gap: 10px;
}

.button {
  width: 60px;
  height: 60px;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  /* font-size: 24px;
  border-radius: 8px; */
  /* user-select: none; */
}
