.joystick {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle-row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.joystick-button {
  margin: 5px;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

.joystick-button.up {
  align-self: center;
}

.joystick-button.down {
  align-self: center;
}

.joystick-button.left,
.joystick-button.right {
  margin-left: 5px;
  margin-right: 5px;
}

.allcamera {
  display: flex;
  gap: 10;
}
